/*Esto de root es como poner html
Nos sirve para definir variables en css*/
:root{
    --theme-color:white;
    --primary-color: #124f88;
    --secondary-color: #f4c331;
    --text-color-inverse: white;
    --tet-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3a4460;
}

html{
    scroll-behavior: smooth;        /*Esto nos sirve para que el scrroll al seleccionar un id de mi menu de navegacion, el scroll sea mas suave.*/
}

section[id]{            /*Esto nos sirve para seleccionar a todos los section que tienen id.*/
    scroll-margin-top: 70px;        /*sirve para cuando seleccionemos algun id del menu de navegacion, nos de un espacio extra de margen de arriaba de 70px*/
    /*border: 4px solid red;*/
}
/*
.observer-root-margin{
    pointer-events: none;
    z-index: 1000;
    border: 4px solid blue;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
*/

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--tet-color);
    padding-top: 70px;      /*Esto se lo agregamos ya que si no no se veria el contenido que esta a continuación del la barra de navegación, porque tiene el fixed*/
}

a{
    text-decoration: none;
    color: var(--tet-color);
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
}

@media (min-width: 950px){
    .horizontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
}
