*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;         /*Sirve para que todos los padding o margin que agrege a las cajas no sobresalgas de la pantalla*/
    font-family: 'Popins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;     /*Sirve para oculta todo lo que sobresalga en el eje x*/
    background: linear-gradient(#3b1055, #7597de);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: all 300ms;
}
header ul li a:hover, 
header ul li a.active{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;     /*Todas las posiciones de las imagnes partes de esta posición*/
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;       /*Todo lo que sobresalga de la sección sera ocultado*/
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522,transparent);   /*Nos sirve para crear una línea difuminada*/
    z-index: 3;
}
section img{
    position: absolute;     /*Mueve todas las imagenes arriba del todo*/
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;      /*Adapta la imagen a lo grande sin que esta imagen se deforme*/
    pointer-events: none;   /*Sirve para poder seleccionar objetos que estan en un z-index inferior, pero se los puede ver*/
}
section img#moon{
    mix-blend-mode: screen;     /*Sirve para convinar los colores de la imagen con el fondo que tiene la página web.*/
}
#text{
    right: -350px;          /*Con esto desplazamos el h2 para que quede detras de la imagen, y queda detras porque tiene un z-index inferior a la imagen*/
    position:absolute;
    color:#fff;
    white-space: nowrap;
    font-size: 7.5vw;           /*Con "vh" el tamaño de la letra se ira redimensionando según la pantalla*/
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);   /*Mueve el elemento seleccionado, lo mueve en el eje "Y" 100px*/
}
.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p{
    font-size: 1em;
    color: #fff;
}


.z-index-0{
    z-index: 0;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.z-index-4{
    z-index: 4;
}

